.contact{
    margin-top: 30px;
    margin-bottom: 50px;
    color: #777;
    font-family: sans-serif;
    font-size: 95%;
}
.contact .contact-left h3{
    color: black;
}

.contact .contact-left p:nth-child(3),
.contact .contact-left p:nth-child(4),
.contact .contact-left p:nth-child(5){
    margin-bottom: 5px;
}

.contact .contact-right input{
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 15px;
    color: #333;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    outline: 0;
}

.contact .contact-right textarea{
    width: 100%;
    padding: 5px 15px;
    color: #333;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    outline: 0;
}

.contact .contact-right button{
    margin: 10px 0;
    padding: 12px 20px;
    width: 150px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #F3E385;
    border: none;
    outline: 0;
}

.contact .contact-right button:hover{
    background-color: rgb(190 207 124);
    transition: 1s;
}

.notification{
    position: relative;
    padding: 5px 30px 5px 10px;
    border-radius: 3px;
    opacity: .8;
    background-color: #d7d5d5;
    color: #b20000;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
}

.notification::after{
    bottom: 99%;
    left: 30px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-bottom-color: #d7d5d5;
    border-width: 10px;
    margin-left: -10px;
}

.notificationlast{
    border: 2px solid #ffb900;
    border-radius: 10px;
    width: 95%;
    position: absolute;
    height: 68px;
    padding: 5px;
}

/* mobie: width: < 740px */
@media only screen and (max-width: 46.1875em) {

}

/* tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

}