.content{
    margin-top: 30px;
    margin-bottom: 50px;
    color: #777;
}

.content-small{
    margin-top: 20px;
}

.content-small h3{
    color: black;
}

.content-small ul li{
    list-style: none;
}

.content-small ul li i{
    color: #004600;
    opacity: 0.6;
}

.content-small p:nth-child(2){
    margin-top: 15px;
    margin-bottom: 30px;
}

.content-small p:nth-child(4),
.content-small p:nth-child(5),
.content-small p:nth-child(6){
    margin-top: 30px;
}

.content-small ul hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid;
    opacity: 0.2;
}

.content-small a{
    color: #334862;
}

.content-small a:hover{
    color: black;
    text-decoration: none;
}

.content .image img{
    width: 105%;
    height: 450px;
    object-fit: cover;
    opacity: 0.8;
}

/* mobie: width: < 740px */
@media only screen and (max-width: 46.1875em) {

}

/* tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    
}